h1, h3, h4
{
    color: white;
    
}

.
{
    color: black;
    
}

.wrapper
{
    width: 950px;
    margin: 0 auto;  
    padding: 0 10px;
    border-radius: 10px;
    background-color:#ccc;
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
  
.table tr:hover {
    background-color: #ddd;
}
  
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #494949;
    color: white;
    text-align: center;

}
.detail{
    color: black;
}
header
{
    height: 120px;  
 
    
}

header h1

{
    float: left;  
    margin-top: 45px;
    
}

header nav

{
    float: right;  
    margin-top: 50px;
}

header nav ul li

{
    float: left;
    display: inline-block;
}

header nav ul li a

{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

*
{
    margin: 0;
    padding: 0;
    
}



h1
{
    color: white;
    
}
h1
{

    margin-top : 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #ffffff;
}

h3
{
    font-size: 30px;
}


h4

{
    font-size: 24px;  
}

p
{
    line-height: 20px;

}

nav{
    display: inline-block;
}
ul
{
    list-style: none;
    
}

li{


}

a

{
    text-decoration: none;
    border:2px solid white;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    margin : 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #ffffff;
}

h2.button2{
    height: auto;
    margin-left: 35%;
    display : inline-block;
    padding-right: 10px;
    
}

.button:hover
{
    background-color: white;
    color: black;
}

.button2{
    text-decoration: none;
    border:2px solid #494949;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    margin : 5px;
    padding-left: 15px;
    padding-right: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    color:  #494949;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0px;
    font-size: 40px;
    float: center;
}


.button3{
    text-decoration: none;
    border:2px solid #494949;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    margin : 5px;
    padding-left: 15px;
    padding-right: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    color:  #494949;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0px;
    font-size: 40px;
    float: center;
}


h2.button3{
    height: auto;
    margin-left: 40%;
    display : inline-block;
    padding-right: 10px;
    
}


.orange
{
    color: #ff7c00;
}

#main-image 
{
   
    height: 1000px;
    background-image : url('./image/image1.jpg');
    width: auto;
}

#espace
{
    height: 50px; 
    background-color: #494949;
    border-block: blacn;
}

#espace2
{
    height: 100px; 
    background-color: #494949;
    border-block: blanc;
    margin-top: 200px;
}

hr{
    margin-top: 120px;
    color: white;
    background-color: white;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    margin-left: 15px;

}

#titre{
   display: flex;
   margin-left: 50%;
   color: white;
   margin-right: 5%;
   
   
}

#mirror{
    margin-top: 180px;
    text-align: right;
    font-size: 30px;
    
}


.mirrorClass{
    font-size: 100px;

}

footer{
    color: white;
    text-align: center;
    padding-top: 30px;

}

#fleche{
    margin-top: 250px;
    margin-left: 50%;
}

.fleche{
    font-size: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border:2px solid white;
    -moz-border-radius:75px;
    -webkit-border-radius:75px;
    border-radius:75px;
}
.fleche:hover
{
    background-color: white;
    color: black;
}

td{
    width: 15%;
}

.description{
    float: right;
    height: 50%;
    width: 50%;
    text-decoration: none;
    border:2px solid #494949;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    margin : 5px;
    padding-left: 15px;
    padding-right: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #494949;
    color: white;

}

/* NOTIFICATION */

.notification {
    width:350px;
    padding: 20px;
    text-align: center;
}

.notification > p {
    display: inline-block;
}

.notification-valide {
    background-color: lightgreen;
}

.notification-invalide {
    background-color: lightcoral;
}

.edite{
    color: black;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
  
input[type=text]:focus {
    border: 3px solid #555;
}

textarea {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
  
textarea:focus {
    border: 3px solid #555;
}

h2{
    text-decoration: none;
    border:2px solid #494949;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    display : inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;

}

#valide {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

#valide:hover {
    opacity: 1
}

label{
    color: black;
    line-height: 20px;
}

.contenuEdit{
    margin-left: 5%;
}

.container{
    margin-left: 50px;
    margin-right: 50px;

}