<!doctype html>
<html lang="fr">
<link href="./static/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet"> 
<head>
	{% block head %}
	<meta charset="utf-8" />
    <link rel="icon" href="./static/image/icon2.png" />
    <!-- <link rel="stylesheet" href="" /> -->
    <title>
    {% block title %}{% endblock %}
    </title>
    {% endblock %}
</head>
<body>
<header>
        <section id="main-image">
        
            <header>
            <div class="wrapper">
                <h1><a href="./index.php" class="button">Mirror</a></h1>
            <nav>
                <ul>
                    <li><a href="index.php?action=films" class="button">Films</a></li>
                    <li><a href="index.php?action=realisateurs" class="button">Realisateurs</a></li>
                </ul>
                
            </nav>
            </header>
            <div id="titre">
            <p id="mirror"><span class="mirrorClass">Mirror</span></br></br>Retrouvez ici tous les details des films cultes</p>
            <hr width="3px" size="200px" />
            </div> 
            <div id="fleche">
            <a href="#espace" class="fleche">▼</a>
            </div>
        </section>
    </div>
    <section id="espace">
    </section></br></br>

    <section class="container">
    {% block content %}{% endblock %}
    </section>
    <section id="espace2">
    <footer>
        <p>Quentin Picart - Julien Moulin - Nils Quintown</p>
        <p>© 2020 Mirror, Inc.</p>
</footer>
</section>
</section>
</body>
</html>
