{% extends "base_template.html.twig" %}

{% block title %}Ajouter un réalisateur{% endblock %}

{% block content %}
<h1>Ajouter un réalisateur</h1>
<form action="" method="GET">
    <label for="prenom">Nom</label>
    <input type="text" id="prenom" name="prenom" value="" placeholder="Julien" style="width: 300px;"><br>
    <label for="nom">Prenom</label>
    <input type="text" id="nom" name="nom" value="" placeholder="Moulin" style="width: 300px;"><br>
    <label for="biographie">Biographie</label>
    <textarea cols="50" rows="10" id="biographie" name="biographie" value=""
        placeholder="Ayant débuté sur youtube en 2015, il a atteint les 300000 abonnées en 2020. Après la sortie de son court métrage d'horreur SILENCE, il est contacté par James Wan pour sortir pour étendre son idée sur format long à hollywood."></textarea><br>
    <input type="submit" name="ajouter" value="ajouter">
    <input type="hidden" name="action" value="creer-realisateur">
</form>
{% endblock %}