{% extends "base_template.html.twig" %}

{% block title %}Ajouter un film{% endblock %}

{% block content %}
<div class="contenuEdit">
    <h2>Ajouter un film</h2>
    <form action="" method="GET">
        <label for="titre">Titre</label>
        <input type="text" id="titre2" name="titre" value="" placeholder="Vol au dessus d'un nid de coucous" style="width: 300px;"><br>
        <label for="date_sortie">Date de sortie</label>
        <input type="text" id="date_sortie" name="date_sortie" value="" placeholder="AAAA-MM-JJ" style="width: 300px;"><br>
        <label for="duree">Durée</label>
        <input type="text" id="duree" name="duree" value="" placeholder="HH:MM:SS" style="width: 300px;"><br>
        <label for="synopsys">Synopsys</label></br>
        <textarea cols="50" rows="10" id="synopsys" name="synopsys" value=""
            placeholder="film américain de Miloš Forman sorti en 1975. Il a reçu les cinq principaux Oscars du cinémadont celui du meilleur film. Il est adapté du roman éponyme de Ken Kesey paru en 1962"></textarea><br>
        <label for="image">Image</label>
        <input type="text" id="image" name="image" value="" placeholder="Coller l'adresse de l'image" style="width: 300px;"><br>
        <input type="submit" id="valide" name="ajouter" value="Ajouter">
        <input type="hidden" name="action" value="creer-film">
    </form>
</div>
{% endblock %}