{% extends "base_template.html.twig" %}

{% block title %}Détails {{ film.titre }}{% endblock %}

{% block content %}
<h1 class="button2">Détails du film: {{ film.titre }}</h1>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Titre</th>
            <th>Réalisateur(s)</th>
            <th>Date de sortie</th>
            <th>Durée</th>
            <th>Synopsys</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{ film.image }}" height=250 width=175/></td>
            <td>{{ film.titre }}</td>
            <td>
            {% for realisateur in realisateurs %}
                {{ realisateur.prenom }} {{ realisateur.nom }}<br>
            {% endfor %}
            </td>
            <td>{{ film.date_sortie }}</td>
            <td>{{ film.duree }}</td>
            <td>{{ film.synopsys }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
