{% extends "base_template.html.twig" %}

{% block title %}Détails {{ realisateur.titre }}{% endblock %}

{% block content %}
<h2 class="button2">Détails du realisateur  {{ realisateur.titre }}</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Biographie</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ realisateur.nom }}</td>
            <td>{{ realisateur.prenom  }}</td>
            <td>{{ realisateur.biographie  }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}