{% extends "base_template.html.twig" %}

{% block title %}Editer {{ film.titre }}{% endblock %}

{% block content %}
{% if notification is defined %}
    <div class="notification {{ notification.statut }}">
        <p>{{ notification.message }}<p>
    </div>
{% endif %}
<div class="contenuEdit">
    <h2 class="edite">Editer {{ film.titre }}</h2>
    <form action="" method="GET">
        <input type="hidden" name="action" value="editer-film">
        <input type="hidden" name="task" value="update">
        <input type="hidden" name="id" value="{{ film.id }}">

        <label for="titre">Titre</label>
        <input type="text" id="titre2" name="titre" value="{{ film.titre }}" style="width: 300px;"><br>
        <label for="date_sortie">date de sortie</label>
        <input type="text" id="date_sortie" name="date_sortie" value="{{ film.date_sortie}}" style="width: 300px;"><br>
        <label for="synopsys">Synopsys : </label></br>
        <textarea cols="50" rows="10" id="synopsys" name="synopsys">{{ film.synopsys}}</textarea><br>
        <label for="duree">Durée</label>
        <input type="text" id="duree" name="duree" value="{{ film.duree }}" style="width: 300px;"><br>
        <label for="image">Image</label>
        <input type="text" id="image" name="image" value="{{ film.image }}" style="width: 300px;"><br>
        <input type="submit" id="valide" name="submit" value="Valider">
</div>
</form>
{% endblock %}