{% extends "base_template.html.twig" %}

{% block title %}Editer {{ realisateur.nom }}{% endblock %}

{% block content %}
{% if notification is defined %}
    <div class="notification {{ notification.statut }}">
        <p>{{ notification.message }}<p>
    </div>
{% endif %}
<div class="contenuEdit">
    <h2 class="edite">Editer {{ realisateur.nom }}</h2>
    <form action="" method="GET">
        <input type="hidden" name="action" value="editer-realisateur">
        <input type="hidden" name="task" value="update">
        <input type="hidden" name="id" value="{{ realisateur.id }}">

        <label for="nom">nom</label>
        <input type="text" id="nom" name="nom" value="{{ realisateur.nom }}" style="width: 300px;"><br>
        <label for="prenom">prenom</label>
        <input type="text" id="prenom" name="prenom" value="{{ realisateur.prenom}}" style="width: 300px;"><br>
        <label for="biographie">biographie</label></br>
        <textarea cols="50" rows="10" id="biographie" name="biographie">{{ realisateur.biographie}}</textarea><br>
        <input type="submit" id="valide" name="submit" value="Valider">
</div>
</form>
{% endblock %}