{% extends "base_template.html.twig" %}         

{% block title %}Liste des realisateurs{% endblock %}

{% block content %}
<h2 class="button2">Liste des realisateurs</h2>
<table class="table">
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Détails</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
    {% for realisateur in realisateurs %}
        <tr>
            <td>{{ realisateur.prenom }}</td>
            <td>{{ realisateur.nom }}</td>
            <td>
                <form action="index.php" method="GET">
                    <input type="hidden" name="action" value="details-realisateur">
                    <button type="submit" name="realisateur" value="{{ realisateur.id }}">Détails</button>
                </form>
            </td>
            <td>
                <form action="index.php" method="GET">
                    <input type="hidden" name="task" value="read">
                    <input type="hidden" name="id" value="{{ realisateur.id }}">
                    <button type="submit" name="action" value="editer-realisateur">Editer</button>
                </form>
            </td>
            <td>
                <form action="index.php" method="GET">
                    <input type="hidden" name="action" value="supprimer-realisateur">
                    <button type="submit" name="id" value="{{ realisateur.id }}">Supprimer</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}