{% extends "base_template.html.twig" %}

{% block title %}Mirror - Film{% endblock %}

{% block content %}
<h2 class="button3">Liste des films</h2>
    <p>
        <a href="index.php?action=creer-film"> <button type="button" id="valide" name="action" value="creer-film">Ajouter</button> </a>
    </p>
{% if notification is defined %}
    <div class="notification {{ notification.statut }}">
        <p>{{ notification.message }}<p>
    </div>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Titre</th>
            <th>Date de sortie</th>
            <th>Details</th>
            <th>Editer</editer>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
    {% for film in films %}
        <tr>
            <td><img src="{{ film.image }}" height=100 width=70/></td>
            <td>{{ film.titre }}</td>
            <td>{{ film.date_sortie }}</td>
            <td>
                <form action="index.php" method="GET">
                    <input type="hidden" name="action" value="details">
                    <button type="submit" name="film" value="{{ film.id }}">Détails</button>
                </form>
            </td>
            <td>
                <form action="index.php" method="GET">
                    <input type="hidden" name="task" value="read">
                    <input type="hidden" name="id" value="{{ film.id }}">
                    <button type="submit" name="action" value="editer-film">Editer</button>
                </form>
            </td>
            <td>
                <form action="index.php" method="GET">
                    <input type="hidden" name="action" value="supprimer-film">
                    <button type="submit" name="id" value="{{ film.id }}">Supprimer</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}